<nav class="navbar navbar-light bg-light navbar-expand-md"> <a href="#" class="navbar-brand">Publicis Sapient
        Assignement</a>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/floatingbanner" class="nav-link">Floating Banner</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/e-commerce">E-commerce</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/dynamic-table">Dynamic-table</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/count-down-timer-subject">count-down-timer-Subject</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/count-down-timer">count-down-timer</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/dynamic-div">Dynamic-div</a>
            </li>
        </ul>
    </div>
</nav>