@import '/src/styles.scss';

@mixin commonCode($subVal){
    margin: 1rem auto 1rem auto;
    border: solid 2px;
        // height:calc(#{$parent-div-height} - #{$subVal});
    // width:calc(#{$parent-div-width} - #{$subVal});
}
.displayFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    position: relative;
}
.parent-div{
    @include commonCode(0rem);

}
