<div class="displayDiv">
    <div class="row pt-3">
        <div class="col-lg-4 ml-3">
            Enter Time Limit
        </div>
        <div class="col-lg-87">
            <input type="number" #timeLimit>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-2">
                    <button type="button" (click)="startCounter()" class="btn btn-primary">start</button>
                </div>
                <div class="col-lg-2">
                    <button type="button" (click)="pauseCounter()" class="btn btn-primary">pause</button>
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-3">
                    <button type="button" (click)="resetCounter()" class="btn btn-danger">reset</button>
                </div>


            </div>
        </div>
    </div>
    <div class="row" *ngFor="let counterArray of pauseCounterArray">
        <div class="ml-5 mt-3">Paused at <b>{{counterArray}}</b></div>
    </div>
</div>