<!-- <nav class="navbar navbar-light bg-light navbar-expand-md"> <a href="#" class="navbar-brand">Please select the nav bar</a>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/count-down-timer-subject/display" class="nav-link">Display</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/count-down-timer-subject/function">Funcationality</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/count-down-timer-subject/keep-record">Keep Record</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/count-down-timer-subject/logs">Logs</a>
            </li>
        </ul>
    </div>
</nav> -->
<div class="row">
    <div class="col-lg-6 p-3 h-50">
        <app-display-count-down-subject></app-display-count-down-subject>
    </div>
    <div class="col-lg-6 p-3">
        <app-funcationality-count-down-subject></app-funcationality-count-down-subject>
    </div>
    <div class="col-lg-6 p-3">
        <app-logs-count-down-subject> </app-logs-count-down-subject>
    </div>
    <div class="col-lg-6 p-3">
        <app-keep-record-count-down-subject></app-keep-record-count-down-subject>
    </div>
</div>